on boot
    write /sys/class/android_usb/android0/iManufacturer Spreadtrum
    write /sys/class/android_usb/android0/iProduct Spreadtrum Phone
    write /sys/class/android_usb/android0/iSerial 19761202
    write /sys/class/android_usb/android0/f_rndis/manufacturer Spreadtrum
    write /sys/class/android_usb/android0/f_rndis/vendorID 8
    write /sys/class/android_usb/android0/f_rndis/wceis 1
    write /sys/class/android_usb/android0/f_mass_storage/board_support_luns 1

on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 4001
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 4002
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 4011
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 4012
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d20
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d21
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 224
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,gser
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d22
    write /sys/class/android_usb/android0/f_gser/port_count 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,gser,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d22
    write /sys/class/android_usb/android0/f_gser/port_count 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis,gser,adb,vser
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d22
    write /sys/class/android_usb/android0/f_gser/port_count 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config


on property:sys.usb.config=rndis,vser,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d23
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=cdrom
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d30
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/f_mass_storage/lun/file '\0'
    write /sys/class/android_usb/android0/f_mass_storage/lun/cdrom 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/ro 1
    write /sys/class/android_usb/android0/f_mass_storage/lun/file /system/etc/adb.iso
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d03
    write /sys/class/android_usb/android0/f_mass_storage/lun/file '\0'
    write /sys/class/android_usb/android0/f_mass_storage/lun/cdrom 0
    write /sys/class/android_usb/android0/f_mass_storage/lun/ro 0
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d04
    write /sys/class/android_usb/android0/f_mass_storage/lun/file '\0'
    write /sys/class/android_usb/android0/f_mass_storage/lun/cdrom 0
    write /sys/class/android_usb/android0/f_mass_storage/lun/ro 0
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

# engineering test
on property:sys.usb.config=mass_storage,vser,gser
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d03
    write /sys/class/android_usb/android0/f_mass_storage/lun/file '\0'
    write /sys/class/android_usb/android0/f_mass_storage/lun/cdrom 0
    write /sys/class/android_usb/android0/f_mass_storage/lun/ro 0
    write /sys/class/android_usb/android0/f_gser/port_count 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=mass_storage,adb,vser,gser
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/idProduct 5d04
    write /sys/class/android_usb/android0/f_mass_storage/lun/file '\0'
    write /sys/class/android_usb/android0/f_mass_storage/lun/cdrom 0
    write /sys/class/android_usb/android0/f_mass_storage/lun/ro 0
    write /sys/class/android_usb/android0/f_gser/port_count 1
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=adb,vser,gser
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 1782
    write /sys/class/android_usb/android0/f_gser/port_count 2
    write /sys/class/android_usb/android0/idProduct 5d22
    write /sys/class/android_usb/android0/functions $sys.usb.config
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config
