/dev/sprd_scale         0660     system      audio
/dev/sprd_rotation      0660     system      audio
/dev/sprd_dcam          0660     system      audio
/dev/sprd_vsp           0660     system      audio
/dev/video0             0660     system      audio
/dev/ion                0664     system      audio
/dev/ecompass_ctrl      0666     system      compass
/dev/mxc622x            0666     system      input
/dev/mmc31xx            0666     system      compass
/dev/ttyHS0             0600     bluetooth   bluetooth
/dev/mali               0666     system      graphics
/dev/ump                0666     system      graphics
/dev/al3006_pls         0666     system      system
/dev/lis3dh_acc         0660     system      system
/dev/akm8963_dev        0660     system      system
/dev/ts0710mux*         0660     radio       system
/dev/BEKEN_FM           0666     system      audio
/dev/mdtv*              0600     system  system
/dev/mxdspidev          0666     system  system
/dev/ttyS2              0660     system      system
/dev/gpsctl             0660     system      system
/dev/ts0710mux23        0660     media   audio
/dev/ttyGS0             0660     system  system
/dev/ttyGS1             0660     system  system
/dev/vser               0660     system  system
/dev/ttyS1              0660     system  system
/dev/nmi                0660     system  system
